<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="n1">
    <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" v-model="n2">
    <input type="button" value="=" @click="count">
    <input type="text" v-model="result">
</div>
<script src="../js/vue.js"></script>
<script>
      var app=new Vue({
          el:"#app",
          data:{
              n1:0,
              n2:0,
              result:0,
              opt:'+'
          },
          methods:{
          count(){
      // switch (this.opt) {
      //         case "+":
      //             this.result=parseInt(this.n1)+parseInt(this.n2);
      //             break;
      //         case "-":
      //             this.result=parseInt(this.n1)-parseInt(this.n2);
      //         break;
      //         case "*":
      //             this.result=parseInt(this.n1)*parseInt(this.n2);
      //         break;
      //         case "/":
      //             this.result=parseInt(this.n1)/parseInt(this.n2);
      //         break;
      //          }
              var  str= 'parseInt(this.n1)'+this.opt+'parseInt(this.n2)'
                this.result= eval(str);
             }
          }
       })
</script>
</body>
</html>